#result p {
    font-size: 5vh;
    height: 10vh;
    padding-right: 2vw;
    padding: 2vw;
}

#display{
    border: 1px solid rgb(176, 173, 173);
    border-radius: 15px;
}

body {
    background-color: black;
}
#cal-body{
    background-color: white;
}
table tr td button{
    border-radius: 25px;
 }



.table-borderless>tbody>tr>td,
.table-borderless>tbody>tr>th,
.table-borderless>tfoot>tr>td,
.table-borderless>tfoot>tr>th,
.table-borderless>thead>tr>td,
.table-borderless>thead>tr>th {
    border: none;

    
}
button {
    height: 8vh;
    font-size: 2.5vh ! important
    
}
 #change-color{
    background-color: #ededed !important;
}


